<div class="main-box">
  <div class="title-box">
    <h1>내 아이디어</h1>
    <div class="submenu-box">
      <table class="tb1">
        <tr id="sub">
          <th routerLink="/update-member" id="subth2">회원정보수정</th>
          <th routerLink="/point" id="subth2">포인트현황</th>
          <th id="subth1">내 아이디어</th>
          <th routerLink="/inter-anno" id="subth2">관심 사업</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="contents-box">
    <div class="row">
      <h5 style="float: left;">아이디어 리스트</h5>
      <a routerLink="/insert-idea" class="waves-effect waves-light btn"
        style="float: right; margin-top:10px; background-color: rgb(86, 40, 170);">아이디어 등록하기</a>
      <hr style="width:100%; float: left;">
    </div>
    <table class="highlight">
      <tr>
        <th style="width: 75%">제목</th>
        <th style="width: 25%">작성일</th>
      </tr>
      <tr *ngFor="let my_idea of my_idea">
        <td>{{ my_idea.title }}</td>
        <td>{{ my_idea.date }}</td>
      </tr>
    </table>
    <ul class="pagination">
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active #6a1b9a purple darken-3"><a href="#!">1</a></li>
      <li class="waves-effect"><a href="#!">2</a></li>
      <li class="waves-effect"><a href="#!">3</a></li>
      <li class="waves-effect"><a href="#!">4</a></li>
      <li class="waves-effect"><a href="#!">5</a></li>
      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</div>
