.main-box {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-color: white;
  margin-top: -41px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/idea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

.contents-box {
  width: 90%;
  display: inline-block;
  margin-top: 50px;
}

.submenu-box {
  width: 60%;
  display: inline-block;
  margin-top: 65px;
}

#sub {
  font-size: 15px;
  font-family: 'Gothic A1', sans-serif;
}

#subth1 {
  width: 25%;
  font-weight: 400;
  text-align: center;
  background-color: rgb(86, 40, 170);
  color: white;
  border: 2px solid rgb(86, 40, 170);
}

#subth2 {
  width: 25%;
  font-weight: 400;
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(233, 233, 233);
  text-align: center;
}

.contents-box table tr th {
  text-align: center;
}

.contents-box table tr td {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.highlight {
  margin-top: -30px;
}

.left-box {
  width: 66%;
  float: left;
}

.right-box {
  width: 33%;
  float: left;
  margin-top: 23px;
}

#autocomplete-input {
  width: 88%;
}

@media (max-width:992px) {
  .submenu-box {
    width: 80%;
    margin-top: 65px;
  }

  .title-box {
    background-position-y: 0px;
  }

  .left-box {
    display: none;
  }

  .right-box {
    width: 100%;
  }

  #autocomplete-input {
    width: 95%;
  }
}

@media (max-width:600px) {
  .submenu-box {
    width: 90%;
    margin-top: 23px;
  }

  #sub {
    font-size: 13px;
  }

  #autocomplete-input {
    width: 90%;
  }

  .title-box {
    height: 200px;
  }

  h1 {
    padding-top: 90px;
    font-size: 35px;
  }
}

@media (max-width:350px) {
  .submenu-box {
    width: 100%;
  }
}
