.main-box {
  width: 100%;
  text-align: center;
  background-color: white;
  margin-top: -41px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/anno2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

h5 {
  float: left;
}

.contents-box {
  width: 90%;
  display: inline-block;
}

.list-box {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.pagination {
  margin-top: 40px;
}

.highlight tr th:nth-child(1) {
  width: 10%;
}

.highlight tr th:nth-child(2) {
  width: 70%;
}

.highlight tr th:nth-child(3) {
  width: 20%;
}

.left-box {
  width: 66%;
  float: left;
}

.right-box {
  width: 33%;
  float: left;
  margin-top: 23px;
}

#autocomplete-input {
  width: 88%;
}

@media (max-width:992px) {
  .title-box {
    background-position-y: -60px;
  }

  .left-box {
    display: none;
  }

  .right-box {
    width: 100%;
  }

  #autocomplete-input {
    width: 95%;
  }
}

@media (max-width:600px) {
  .title-box {
    background-repeat: repeat;
  }

  .highlight tr th:nth-child(1) {
    width: 20%;
  }

  .highlight tr th:nth-child(2) {
    width: 80%;
  }

  .highlight tr th:nth-child(3) {
    display: none;
  }

  .highlight tr td:nth-child(3) {
    display: none;
  }

  #autocomplete-input {
    width: 90%;
  }
}
