.footer {
  background-color: rgb(209, 206, 206);
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 80%;
}

p {
  font-size: 15px;
  padding: 4px;
  margin-left: 100px;
}

@media (max-width: 600px) {}

p {
  margin-left: 30px;
}
