<div class="main-box">
  <div class="title-box">
    <h1>로그인</h1>
  </div>
  <div class="contents-box">
    <h5 style="float: left;">로그인</h5>
    <hr style="width:100%; float: left;">
    <div class="login-box col s12 z-depth-2 card-panel">
      <form class="login-form">
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" name="email" type="text" style="cursor: auto;" />
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" name="password" type="password" />
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row2">
          <button id="login-button" routerLink="/main-board" (click)="submit()" type="submit"
            class="btn purple darken-4">로그인</button>
          <button id="sub-button" routerLink="/agree-service" type="submit" class="btn teal accent-4">회원가입</button>
          <button id="sub-button" routerLink="/find-pw" type="submit" class="btn teal accent-4">비밀번호찾기</button>
        </div>
      </form>
    </div>
  </div>
</div>
