<div class="main-box">
  <div class="title-box">
    <h1>로그인</h1>
  </div>
  <div class="contents-box">
    <h5 style="float: left;">로그인</h5>
    <hr style="width:100%; float: left;">
    <div class="login-box">
      <div class="email-box">
        <label>
          E-mail:
          <input type="email" [formControl]="email">
        </label>
      </div>
      <div class="pw-box">
        <label>
          Password:
          <input type="password" [formControl]="pw">
        </label>
      </div>
      <div class="check-box">
        <a class="waves-effect waves-light btn">button</a>
        <a class="waves-effect waves-light btn">button</a>
        <a class="waves-effect waves-light btn">button</a>
      </div>
    </div>
  </div>
</div>
