.main-box {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-color: white;
  margin-top: -41px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/idea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

h6 {
  margin-right: 100px;
}

.contents-box {
  width: 90%;
  display: inline-block;
  margin-top: 50px;
}

.row {
  width: 640px;
  height: 280px;
  display: inline-block;
}

.row2 {
  width: 640px;
  height: 50px;
  display: inline-block;
  margin-top: -20px;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 40px;
}

textarea {
  width: 75%;
  height: 250px;
  resize: none;
}

span {
  color: black;
}

@media (max-width:992px) {
  .title-box {
    background-position-y: 0px;
  }

  .row {
    width: 600px;
  }

  .row2 {
    width: 600px;
    margin-left: 0;
  }
}

@media (max-width:620px) {
  textarea {
    width: 100%;
    float: left;
  }

  .row {
    width: 100%
  }

  .row2 {
    width: 100%
  }
}
