<div class="main-box">
  <div class="title-box">
    <h1>회원가입</h1>
  </div>
  <div class="contents-box">
    <h5 style="float: left;">회원가입</h5>
    <hr style="width:100%; float: left;">
    <div class="row">
      <h6 style="float: left; margin-right: 100px;">이용약관동의</h6>
      <textarea disabled>
1. 목적
이 약관은 강원도가 운영하는 빅데이터 아이디어 마일리지의 서비스를 이용함에 있어 이용조건 및 절차, 빅데이터 아이디어 마일리지와 이용자간의 권리 및 의무에 관한 사항과 기타 필요한 사항을 규정함을 목적으로 합니다.

2. 약관의 효력 및 변경
① 약관의 내용은 별도의 통지 없이 수시로 갱신될 수 있고, 이용자는 언제든지 빅데이터 아이디어 마일리지에서 약관의 최신 내용을 확인할 수 있습니다.
② 이 약관은 빅데이터 아이디어 마일리지에 그 내용을 공지함으로써 효력이 발생하며, 변경된 약관에 동의하지 아니하는 경우
3. 약관 외 준칙
이 약관에 명시되지 않은 사항은 관계법령에 따릅니다.
4. 용어의 정의
① 서비스란 빅데이터 아이디어 마일리지에서 제공하는 아이디어 관련 서비스 및 마일리지 관리, 제반정보(창업지원, 뉴스/자료실, 커뮤니티 등)를 말합니다.
② 회원이란 빅데이터 아이디어 마일리지에 개인정보를 제공하고 회원가입을 한 자로서, 빅데이터 아이디어 마일리지가 제공하는 모든 서비스를 이용할 수 있는 주체를 말합니다.
③ 비회원이란 회원으로 가입하지 않고 빅데이터 아이디어 마일리지가 제공하는 서비스를 이용하는 자를 말합니다.
④ 이용자란 빅데이터 아이디어 마일리지가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
5. 회원가입
① 이용자가 회원가입을 신청하는 경우 빅데이터 아이디어 마일리지가 정한 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 효력을 발생합니다.
② 빅데이터 아이디어 마일리지은 ①항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 인정합니다.
- 허위로 가입신청을 한 경우
- 중복으로 신청하여 이용하는 경우
- 공공질서 또는 미풍양속을 저해할 목적으로 신청하였을 경우
- 이 약관을 위반하거나 빅데이터 아이디어 마일리지의 운영에 현저히 지장이 있다고 판단되는 경우
- 기타 빅데이터 아이디어 마일리지 관리자가 필요하다고 인정하는 경우
6. 회원정보의 변경
회원은 회원가입 시 기재한 개인정보가 변경되었을 경우 온라인으로 직접 수정하거나 관리자에게 수정을 요구할 수 있습니다. 이때 변경하지 않은 정보로 인해 발생되는 문제에 대한 책임은 회원에게 있습니다.
7. 회원 탈퇴 및 취소
① 이용자가 회원탈퇴를 하고자 하는 때에는 빅데이터 아이디어 마일리지의 회원탈퇴 절차에 의하거나 전화나 전자메일등을 통하여 신청을 해야 합니다.
② 회원에게 다음 각 항에 해당하는 사유가 발생하였을 경우 빅데이터 아이디어 마일리지은 사전 통보 없이 회원가입을 취소할 수 있습니다.
- 타인 회원ID 및 비밀번호를 도용한 경우
- 타인에게 해를 입히거나 입힐 수 있는 행위를 하는 경우
- 사행행위 조장, 저속·음란물 게시 등 공공질서 또는 미풍양속을 저해하는 행위를 계획 또는 실행한 경우
- 부당한 방법으로 정보통신망에 의하여 처리, 보관, 전송되는 타인의 정보를 훼손하거나 타인의 개인정보를 수집, 저장, 침해, 도용 또는 누설하는 행위를 하는 경우
- 불필요하거나 승인되지 않은 광고, 판촉물 게재, 정크메일, 스팸메일을 발송하는 경우
- 수신자의 명시적인 수신거부 의사에 반하는 광고성 전자우편을 전송하는 행위를 하는 경우
- 관련 법률에서 금지하는 행위 또는 이 약관을 위반하는 행위를 하는 경우
- 기타 빅데이터 아이디어 마일리지 관리자가 필요하다고 인정하는 경우
8. 서비스 이용시간
① 관리자의 직접적인 지원을 받지 않는 서비스의 이용시간은 업무상 또는 기술상 특별한 지장이 없는 한 연중(1일 24시간) 이용할 수 있습니다. 다만, 천재지변, 시스템점검 등의 사유로 서비스를 중단할 수 있습니다.
② 관리자가 직접 제공하는 서비스는 빅데이터 아이디어 마일리지 근무시간을 원칙으로 합니다.
9. 서비스 제공의 제한 및 중단
빅데이터 아이디어 마일리지은 다음의 경우에는 서비스 제공을 일부 또는 전부를 제한하거나 중단할 수 있습니다. 서비스 중단으로 발생되는 문제에 대하여 빅데이터 아이디어 마일리지은 책임을 지지 않습니다.
- 천재지변, 국가 비상사태, 정부예산의 변경 등 기타 불가항력의 사유가 발생하거나 발생할 우려가 있는 경우
- 서비스용 설비의 보수, 공사 또는 장애로 인한 경우
- 서비스 이용의 폭주 등으로 이용에 지장이 있을 경우 - 기간통신사업자가 전기통신서비스를 중지했을 경우
- 기타 빅데이터 아이디어 마일리지 관리자가 필요하다고 인정하는 경우
10. 서비스의 변경 및 회원 서비스
① 이용자에 대한 서비스의 내용은 빅데이터 아이디어 마일리지의 정책에 의해 결정되며 변경 또는 중단될 수 있습니다.
② 빅데이터 아이디어 마일리지은 이 약관을 준수하는 이용자 모두에게 모든 정보와 서비스를 무료로 제공하는 것을 원칙으로 하고 있습니다. 다만 일부 서비스는 회원가입을 한 회원에 한하여 제공되는 서비스가 있습니다.
- 글쓰기 권한 : 빅데이터 아이디어 마일리지에 운영하는 게시판은 회원에 한해 글쓰기 및 상담에 대한 권한이 주어집니다.
- 마이페이지 : 빅데이터 아이디어 마일리지가 제공하는 정보 중 개인적으로 별도 보관할 필요가 있는 정보를 저장할 수 있도록 지원하는 서비스입니다.
11. 광고의 게재
① 빅데이터 아이디어 마일리지는 서비스의 운영 및 정보제공과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있습니다.
② 이용자가 서비스상에 게재되어 있거나 서비스를 통한 광고주의 판촉활동에 참여하거나 또는 거래를 하는 것은 전적으로 이용자와 광고주간의 문제입니다. 따라서, 만약 이용자와 광고주간에 문제가 발생할 경우에도 이용자와 광고주가 직접 해결하셔야 하며, 이와 관련하여 빅데이터 아이디어 마일리지는 어떠한 책임도 지지 않습니다.
12. 컨텐츠
① 컨텐츠의 정확성, 안정성, 또는 품질 등과 관련하여 의문사항이 있으시면 직접 컨텐츠를 만든 자에게 문의하시기 바랍니다. 빅데이터 아이디어 마일리지은 컨텐츠의 정확성, 안전성 등과 관련하여 책임을 지지 않습니다.
② 이용자가 게시한 컨텐츠의 내용에 대한 권리와 책임은 해당 이용자에게 있습니다.
③ 빅데이터 아이디어 마일리지은 이용자가 게시한 컨텐츠를 사전 통지 없이 빅데이터 아이디어 마일리지 내에서 편집, 이동할 수 있는 권리를 보유하며, 비상업적 목적으로 이용자의 컨텐츠를 활용할 수 있습니다.
④ 다음의 경우 사전 통지 없이 컨텐츠를 삭제할 수 있습니다.
- 타인에게 해를 입히거나 입힐 수 있는 내용을 포함한 경우
- 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우
- 다른 이용자 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우
- 공공질서 및 미풍양속에 위반되는 내용인 경우
- 범죄적 행위에 결부된다고 인정되는 내용인 경우
- 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
- 관련 법률에서 금지하는 행위 또는 본 서비스의 약관의 내용에 위배되는 경우
- 기타 적절하지 못한 내용을 담고 있는 등 빅데이터 아이디어 마일리지 관리자가 필요하다고 인정하는 경우
13. 링크
빅데이터 아이디어 마일리지는 제3자의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다.
빅데이터 아이디어 마일리지은 그러한 사이트 및 자료에 대한 통제권이 없으므로 빅데이터 아이디어 마일리지에게 고의나 중과실이 인정될 만한 특별한 사유가 있는 경우를 제외하고는 링크된 사이트 및 자료의 내용, 광고, 제품 등에 대해 책임을 부담하지 않습니다.
14. 이용자의 의무
① 이용자는 관계 법령, 본 약관의 규정, 이용안내 및 서비스상에 공지한 주의사항, 기타 빅데이터 아이디어 마일리지가 통지하는 사항을 준수하여야 하며, 빅데이터 아이디어 마일리지의 업무에 방해되는 행위를 하여서는 안됩니다.
② 이용자는 서비스를 이용하여 얻은 정보를 빅데이터 아이디어 마일리지의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.
③ 이용자는 본인의 책임 하에 ID와 비밀번호의 보안을 유지하셔야 하며, 자신의 ID와 비밀번호를 사용하여 발생하는 모든 결과에 대해 전적인 책임이 있습니다. 본인의 승인 없이 ID나 비밀번호가 사용되는 등 문제가 발생하시면 즉시 빅데이터 아이디어 마일리지에 신고하셔야 합니다. 또한 부여받은 ID 및 비밀번호는 타인에게 전매 또는 양도할 수 없습니다.
④ 이용자는 서비스 이용을 위해 회원으로 가입할 경우 현재의 사실과 일치하는 완전한 정보를 제공하셔야 하며, 완료정보에 변경사항이 발생할 경우 즉시 갱신하셔야 합니다.
⑤ 이용자는 빅데이터 아이디어 마일리지가 제공하는 정보와 서비스를 이용하여 영업활동을 할 수 없습니다.
15. 빅데이터 아이디어 마일리지의 의무
① 빅데이터 아이디어 마일리지는 이용자가 안정적으로 서비스를 받을 수 있도록 항상 노력합니다.
② 빅데이터 아이디어 마일리지는 정보통신이용촉진에관한법률, 전기통신기본법 등 서비스의 운영,유지와 관련 있는 법규를 준수합니다.
16. 개인정보의 보호
① 빅데이터 아이디어 마일리지는 회원의 정보를 빅데이터 아이디어 마일리지을 운영하거나 개선하는 목적으로만 사용합니다.
② 빅데이터 아이디어 마일리지가 취득한 회원정보는 본인의 승낙 없이 제3자에게 공개하지 않습니다.
③ 빅데이터 아이디어 마일리지는 이용자의 개인정보를 매우 중요하게 다루고 있습니다.
17. 개인정보의 공개
빅데이터 아이디어 마일리지은 다음과 같은 경우에 법에서 허용하는 범위 내에서 이용자의 성명, 전자우편주소 등 개인정보를 제3자에게 제공할 수 있습니다.
- 이용자가 서비스를 이용함에 있어 관련 법률을 위반하여 수사기관이나 기타 정부기관으로부터 정보제공을 요청 받는 경우
- 이용자의 법률위반, 본 약관위반을 포함하여 부정행위 완료 등의 정보보호업무를 위해 필요한 경우
- 기타 법률에 의해 요구되는 경우
18. 면책조항
① 이용자가 빅데이터 아이디어 마일리지 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스자료에 대한 취사선택 또는 이용으로 발생하는 손익에 대하여 빅데이터 아이디어 마일리지는 책임을 지지 않습니다.
② 빅데이터 아이디어 마일리지는 이용자의 귀책사유로 인한 빅데이터 아이디어 마일리지 이용의 장애에 대하여 책임을 지지 않습니다.
③ 빅데이터 아이디어 마일리지는 이용자가 빅데이터 아이디어 마일리지에 게시하거나 또는 전송한 내용에 관하여는 책임을 지지 않습니다.
④ 이용자 상호간 또는 이용자와 제3자 상호간에 빅데이터 아이디어 마일리지 서비스를 매개로 한 물품거래, 금전거래 등과 관련하여 발생한 문제에 대하여 어떠한 책임도 지지 않습니다.
19. 관할법원
본 서비스 이용과 관련하여 발생한 분쟁에 대해 소송이 제기될 경우 강원테크노파크 본부 소재지를 관할하는 법원을 관할 법원으로 합니다.
      </textarea>
    </div>
    <div class="row2">
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
            <span>[필수] 이용약관에 동의합니다</span>
          </label>
        </p>
      </form>
    </div>
    <div class="row">
      <h6 style="float: left;">개인정보수집 및 이용동의</h6>
      <textarea disabled>
빅데이터 아이디어 마일리지는 「개인정보보호법」 제15조 제1항 제1호, 제17조 제1항 제1호, 제23조 제1항 제1호, 제24조 제1항 제1호 따라 아래와 같이 개인정보의 수집. 이용에 관하여 귀하의 동의를 얻고자 합니다.
빅데이터 아이디어 마일리지는 이용자의 사전 동의 없이는 이용자의 개인정보를 함부로 공개하지 않으며, 수집된 정보는 아래와 같이 이용하고 있습니다.
이용자가 제공한 모든 정보는 아래의 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 이를 알리고 동의를 구할 것입니다.

[개인정보의 수집 및 이용 동의]

1. 개인정보의 수집 및 이용 목적
가. 서비스 제공에 관한 업무 이행
- 컨텐츠 제공, 특정 맞춤 서비스 제공(아이디어 등록 및 선정, 마일리지 적립 및 사용 차감 등), 경품 배송, 사용자 커뮤니티 등
나. 회원관리
- 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 가입의사 확인, 가입 및 가입횟수 제한, 추후 법정 대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 공지사항 전달, 회원자격 유지 및 서비스 부정사용 방지
2. 수집하는 개인정보의 항목
* 개인회원 가입
- 필수항목 : 아이디, 비밀번호, 이름, 핸드폰번호, 이메일, 소속, 소재지
- 선택항목(필요시) : 전화번호, 팩스번호
* 자동수집
- IP주소, 쿠키, 서비스 이용기록, 방문기록, 브라우저 및 운영체제(OS) 종류 등
3. 개인정보의 보유 및 이용기간
빅데이터 아이디어 마일리지는 원칙적으로 보유기간의 경과, 개인정보의 수집 및 이용목적의 달성 등 그 개인정보가 불필요하게 되었을 때에는 지체 없이 파기합니다.
다만, 다른 법령에 따라 보존하여야 하는 경우에는 그러하지 않을 수 있습니다. 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.
* 회원정보
- 탈퇴 후 지체 없이 파기
4. 동의 거부권 및 불이익
정보주체는 개인정보 수집에 동의를 거부할 권리가 있습니다. 다만, 필수 항목에 대한 동의를 거부할 시 저희가 제공하는 서비스를 이용할 수 없습니다.
</textarea>
    </div>
    <div class="row2">
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
            <span>[필수] 개인정보 수집 및 이용동의</span>
          </label>
        </p>
      </form>
    </div>
    <div class="row">
      <h6 style="float: left;">정책정보 제공을 위한 수집 및 이용에 대한 안내</h6>
      <textarea disabled>
강원도 및 강원도 창업 유관기관의 정책정보 제공을 위한 개인정보 수집 및 이용 동의

[정책정보 제공을 위한 수집 및 이용 동의]
        
1. 개인정보의 수집 및 이용 목적
강원도 및 강원도 창업 유관기관의 정책정보 제공 등 안내
2. 수집하는 개인정보의 항목
- 필수항목 : 아이디, 비밀번호, 이름, 핸드폰번호, 이메일, 소속, 소재지
3. 개인정보의 보유 및 이용기간 : 이용목적의 달성 및 회원탈퇴 후 지체 없이 파기
4. 정책정보 제공을 위한 개인정보의 수집 및 이용 동의를 거부하시더라도 회원 가입에 대한 제한은 없습니다. 다만, 강원도 및 강원도 창업 유관기관의 정책정보 제공 서비스 등에 제한이 있을 수 있습니다.
        
아이디어 마일리지에서 제공하는 창업정보/이벤트/혜택 등 다양한 정보를 휴대전화 또는 이메일로 받아 보실 수 있습니다. 
</textarea>
    </div>
    <div class="row2">
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
            <span>[선택] 정책정보 제공을 위한 수집 및 이용에 대한 안내</span>
          </label>
        </p>
      </form>
    </div>
    <div class="row3">
      <a routerLink="/signup-member" class="waves-effect waves-light btn-large deep-purple darken-2"
        style="width: 200px;">확인</a>
    </div>
  </div>

</div>
