.main-box {
  width: 100%;
  height: 900px;
  text-align: center;
  background-size: contain;
  background-color: white;
  margin-top: -41px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/idea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

h2 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 30px;
  text-align: left;
  color: rgb(92, 90, 90);
}

.contents-box {
  width: 1050px;
  height: 500px;
  display: inline-block;
  margin-top: 50px;
}

.login-box {
  display: inline-block;
  width: 500px;
  height: 350px;
  margin-top: 60px;
}

h6 {
  float: left;
  margin-left: 30px;
}
