<div class="main-box">
  <div class="title-box">
    <h1>비밀번호 재설정</h1>
  </div>
  <div class="contents-box">
    <h5 style="float: left;">비밀번호 재설정</h5>
    <hr style="width:100%; float: left;">
    <div class="login-box col s12 z-depth-2 card-panel">
      <form class="login-form">
        <div class="row margin">
          <h6>비밀번호</h6>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" name="password" type="password" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row margin">
          <h6>비밀번호 재입력</h6>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" name="password" type="password" />
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12" style="margin-top:-10px;">
            <button routerLink="/main-board" (click)="submit()" type="submit"
              class="btn waves-effect waves-light purple darken-4"
              style="margin-right: 30px; width: 200px; margin-left:20px;">확인</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
