.main-body {
  width: 100%;
  height: 850px;
  text-align: center;
  background-image: url('http://bicdataidea.com/img/img_intro_bg.png');
  background-size: contain;
}

.main-img {
  margin-top: 50px;
}

.subcon {
  width: 80%;
  height: 350px;
  margin-top: 100px;
  display: inline-block;
}

.subcon1 {
  background-color: rgb(86, 201, 193);
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 250px, 250px;
}

.subcon2 {
  background: rgb(86, 40, 170);
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 250px, 250px;
}

#subtitle {
  margin-left: 35px;
  color: white;
  font-size: 22px
}

#maintitle {
  margin-left: 35px;
  color: rgb(86, 201, 193);
  font-size: 45px;
}

#maintitle2 {
  margin-left: 35px;
  color: rgb(86, 40, 170);
  font-size: 45px;
}

@media (max-width:992px) {
  .main-body {
    height: 100%;
  }

  .main-img {
    width: 550px;
    height: 193px;
  }

  .subcon {
    margin-top: 40px;
  }

  .subcon1 {
    width: 100%;
  }

  .subcon2 {
    width: 100%;
  }
}

@media (max-width:600px) {
  .main-body {
    height: 800px;
  }

  .main-img {
    width: 370px;
    height: 130px;
  }

  .subcon {
    width: 100%;
    margin-top: 50px;
  }

  .subcon1 {
    width: 100%;
    height: 250px;
    background-size: 150px, 150px;
    font-size: 12px;
  }

  .subcon2 {
    width: 100%;
    height: 250px;
    background-size: 150px, 150px;
    font-size: 12px;
  }

  #subtitle {
    font-size: 14px;
  }

  #maintitle {
    font-size: 30px;
  }

  #maintitle2 {
    font-size: 30px;
  }
}
