<div class="main-body">
  <img class="main-img" src="http://bicdataidea.com/img/img_intro_txt.png">
  <div class="subcon">
    <a routerLink="/idea-board">
      <div class="subcon1" style="
    background-image: url('http://bicdataidea.com/img/img_intro_banner01.png');">
        <img src="http://bicdataidea.com/img/img_intro_banner01_plus.png" style="float:right; padding: 35px;">
        <br><br>
        <hr size="2px" noshade="" width="70px" color="white" align="left" style="margin-left: 35px;">

        <p align="left" style="margin-left: 35px; color:white">온라인 아이디어 콘테스트, 아이디어 플랫폼</p>
        <p id="subtitle" align="left">머릿속에 가지고있는 아이디어들<br>
          현실로 만들어 질 수 없을까?<br>
          고민하지말고 함께 토론해보자!</p>
        <b>
          <p id="maintitle2" align="left">아이디어플랫폼</p>
        </b>
      </div>
    </a>
    <a routerLink="/anno-board">
      <div class="subcon2" style="background-image: url('http://bicdataidea.com/img/img_intro_banner02.png');">
        <img src="http://bicdataidea.com/img/img_intro_banner02_plus.png" style="float:right; padding: 35px;">
        <br><br>
        <hr size="2px" noshade="" width="70px" color="white" align="left" style="margin-left: 35px;">

        <p align="left" style="margin-left: 35px; color:white">온라인 아이디어 콘테스트, 아이디어 플랫폼</p>
        <p id="subtitle" align="left">무수히 쏟아지는 공공정보<br>
          나에게 필요한 정보만,<br>
          필요한 정보 조회하세요.</p>
        <b>
          <p id="maintitle" align="left">공고정보게시판</p>
        </b>
      </div>
    </a>
  </div>
</div>
