<nav style="background-color:rgb(233, 233, 233);">
  <div class="nav-wrapper container"><a id="logo-container" routerLink="/main-board" class="brand-logo"><img
        class="logo-img" src="http://bicdataidea.com/img/img_logo.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/idea-board">아이디어 플랫폼</a></li>
      <li><a routerLink="/anno-board">공고정보 게시판</a></li>
      <li><a routerLink="/notice-board">게시판</a></li>
      <li><a routerLink="/contact-board">고객센터</a></li>
      <li><a routerLink="/login">로그인</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="page-footer" style="background-color: rgb(209, 206, 206); ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12" style="color: rgb(91, 104, 117);;">
        <h5>Footer Content</h5>
        <p>You can use rows and columns here to organize your
          footer content.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="color:rgb(91, 104, 117); margin-left: 227px;">
      © 2014 Copyright Text
    </div>
  </div>
</footer>
