<div class="box">
  <div class="logo">
    <a routerLink="main-board"><img class="logo-img" src="http://bicdataidea.com/img/img_logo.png"></a>
  </div>
  <div class="nav">
    <ul class="nav-list">
      <a routerLink="/idea-board">
        <li>아이디어 플랫폼</li>
      </a>
      <a routerLink="/idea-board">
        <li>공고정보 게시판</li>
      </a>
      <a routerLink="/idea-board">
        <li>게시판</li>
      </a>
      <a routerLink="/idea-board">
        <li>고객센터</li>
      </a>
      <a routerLink="/idea-board">
        <li>로그인</li>
      </a>
    </ul>
  </div>
</div>

<!-- 라우팅된 화면은 <router-outlet> 위치에 표시됩니다. -->
<router-outlet></router-outlet>

<div class="footer" style="background-image: url('http://bicdataidea.com/img/img_logo.png');">
  <br>
  <p>(00000) 000 000 000 000 00-00 0000000 0000000</p>

  <p>전화번호:000-000-0000</p>

  <p>Copyright © 아이디어 플랫폼. All rights Reserved.</p>
</div>
