<div class="main-box">
  <div class="title-box">
    <h1>고객센터</h1>
  </div>
  <div class="contents-box">
    <div class="list-box">
      <h5>고객센터</h5>
      <hr style="width:100%; float: left;">
    </div>
    <form class="main-form">
      <div class="row">
        이메일
        <div id="email_box" class=" input-field inline">
          <input id="email" type="email" class="validate" maxlength="40">
        </div>
      </div>

      <div class="row">
        제목
        <div id="title_box" class=" input-field inline">
          <textarea id="textarea1" class="materialize-textarea" maxlength="30"></textarea>
        </div>
      </div>
      <div class="col s12" style="margin-top: 20px">
        <ckeditor id="editor" [editor]="Editor"></ckeditor>
      </div>
      <div class="col s12" style="margin-top: 20px;">
        <a routerLink="/main-board" class="btn purple darken-4" style="float: right;" (click)="submit()">문의하기</a>
      </div>
    </form>
  </div>
</div>
