.main-box {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-color: white;
  margin-top: -41px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/idea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

h5 {
  float: left;
}

.contents-box {
  width: 90%;
  display: inline-block;
  margin-top: 50px;
}

#email_box {
  width: 61.9%;
  margin-left: 115px;
}

#title_box {
  width: 62%;
  margin-left: 123px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 330px;
  max-height: 330px;
}

@media (max-width:992px) {
  .title-box {
    background-position-y: 0px;
  }
}

@media (max-width:600px) {
  #email_box {
    width: 100%;
    margin-left: 0px;
  }

  #title_box {
    width: 100%;
    margin-left: 0px;
  }

  .title-box {
    height: 200px;
  }

  h1 {
    padding-top: 90px;
    font-size: 35px;
  }
}
