<div class="main-box">
  <div class="title-box">
    <h1>아이디어 등록</h1>
  </div>
  <div class="contents-box">
    <div class="row">
      <h5 style="float: left;">아이디어 작성</h5>
      <hr style="width:100%; float: left;">
    </div>
    <div class="row">
      <form class="col s12" style="text-align: left;">
        <div class="col s12">
          작성자명
          <div class="input-field inline" id="email_box">
            <input disabled value="정의빈" id="disabled" type="text" class="validate">
          </div>
        </div>
        <div class="col s12">
          제 목
          <div class=" input-field inline" id="title_box">
            <textarea id="textarea1" class="materialize-textarea" maxlength="30"></textarea>
          </div>
        </div>
        <div class="col s12" style="margin-top: 20px;">
          <ckeditor id="editor" [editor]="Editor"></ckeditor>
        </div>
        <div class="col s12">
          <div class="file-field input-field">
            <div class="btn purple darken-4">
              <input type="file" multiple>
              <span>파일선택</span>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="선택된 파일 없음">
            </div>
          </div>
        </div>
        <div class="col s12">
          <a routerLink="/idea-board" class="btn purple darken-4" style="float: right;" (click)="submit()">아이디어
            등록</a>
        </div>
      </form>
    </div>
  </div>
</div>
