<div class="main-box">
  <div class="title-box">
    <h1>포인트현황</h1>
    <div class="submenu-box">
      <table class="tb1">
        <tr id="sub">
          <th routerLink="/update-member" id="subth2">회원정보수정</th>
          <th id="subth1">포인트현황</th>
          <th routerLink="/idea-mypage" id="subth2">내 아이디어</th>
          <th routerLink="/inter-anno" id="subth2">관심 사업</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="contents-box">
    <h5 style="float: left;">포인트현황</h5>
    <hr style="width:100%; float: left;">
    <div class="row">
      <ul>
        <a routerLink="/point" style="color: black;">
          <li>현황</li>
        </a>
        <a routerLink="/use-point">
          <li>사용내역</li>
        </a>
        <a routerLink="/save-point">
          <li>적립내역</li>
        </a>
      </ul>
    </div>
    <div class="row2">
      <div class="subbox1">
        <br>
        <h6>현재 나의 순위</h6>
        <h2>1위</h2>
        <hr id="underline">
      </div>
      <div class="line">
        .
      </div>
      <div class="subbox2">
        <br>
        <h6>현재 보유 포인트</h6>
        <p>0P</p>
        <br><br><br>
        <h6>총 누적 포인트</h6>
        <p>0P</p>
        <br><br><br>
        <h6>사용 포인트</h6>
        <p>0P</p>
      </div>
    </div>
  </div>
</div>
