.main-box {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-color: white;
  margin-top: -41px;
  margin-bottom: 50px;
}

.title-box {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/idea.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
  text-align: center;
  opacity: 0.9;
}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 40px;
  font-weight: 650;
  color: white;
  padding-top: 140px;
}

.contents-box {
  width: 90%;
  display: inline-block;
  margin-top: 50px;
}

.submenu-box {
  width: 60%;
  height: 60px;
  background-color: rgb(233, 233, 233);
  display: inline-block;
  margin-top: 60px;
}

table {
  width: 100%;
  height: 100%;
  border: 0;
}

#sub {
  font-size: 15px;
  font-family: 'Gothic A1', sans-serif;
}

#subth1 {
  width: 25%;
  font-weight: 400;
  will-change: transform;
  transition: transform 450ms;
  text-align: center;
  background-color: rgb(86, 40, 170);
  color: white;
}

#subth2 {
  width: 25%;
  font-weight: 400;
  will-change: transform;
  transition: transform 450ms;
  text-align: center;
}

#subth2:hover {
  background-color: rgb(86, 40, 170);
  color: white;
  transition: transform 125ms;
  transform: translateY(-5px);
}

.login-box {
  display: inline-block;
  width: 500px;
  height: 300px;
  margin-top: 60px;
}

@media (max-width:992px) {
  .title-box {
    background-position-y: 0px;
  }

  .login-box {
    width: 90%;
  }

  button {
    width: 90%;
    margin: 5px;
  }
}

@media (max-width:600px) {
  .submenu-box {
    width: 80%;
    margin-top: 19px;
  }

  .title-box {
    height: 200px;
  }

  h1 {
    padding-top: 90px;
    font-size: 35px;
  }
}
