<div class="main-box">
  <div class="title-box">
    <h1>회원정보수정</h1>
    <div class="submenu-box">
      <table>
        <tr id="sub">
          <th id="subth1">회원정보수정</th>
          <th id="subth2">포인트현황</th>
          <th id="subth2">내 아이디어</th>
          <th id="subth2">관심 사업</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="contents-box">
    <div class="list-box">
      <h5 style="float: left;">비밀번호 재확인</h5>
      <hr style="width:100%; float: left;">
      <div class="login-box col s12 z-depth-2 card-panel">
        <div class="row">
          <br>
          계정보호를 위해 비밀번호를 한번 더 확인해주세요<br><br>
        </div>
        <form class="login-form">
          <div class="row margin">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input id="password" name="password" type="password" />
              <label for="password">Password</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-field col s12" style="margin-top:-10px;">
              <button routerLink="/update-member" type="submit" class="btn waves-effect waves-light purple darken-4"
                style="margin-right: 30px; width: 200px; margin-left:20px;">확인</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
